/* css here is applies to only HTML created by the app.component.html file
just affect html(component) not other file
*/

:host {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}